{{ define "main" }}


<article class="ml-2">
  {{ partial "page-header.html" . }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">        
          <div class="content">{{ .Content }}</div>
        </div>
      </div>


      {{ with .Params.updates }}
        <article class="message is-warning mt-6">
          <div class="message-header">
            Updates
          </div>
          <div class="message-body">
          {{ . | markdownify }}
          </div>
        </article>
      {{ end }}
      
    </div>
  </section>
</article>



<div class="columns is-multiline is-mobile mx-5 mt-5">    
  <div class="column is-6-desktop is-12-mobile">
    <a href="{{ .Params.linkb | relURL }}" title="Link" class="button is-dark is-fullwidth my-2">Back to {{ .Params.linkbtext }}</a>
  </div>
  <div class="column is-6-desktop is-12-mobile">
    <a href="{{ .Params.linkf | relURL }}" title="Link" class="button is-dark is-fullwidth my-2">Next {{ .Params.linkftext }}</a>
  </div>  
</div>


<section class="section">
  <div class="container has-text-centered my-5">
    <h2 class="title is-3">Register in the Waitlist</h2>
  </div>

  <div class="columns is-multiline is-mobile my-5">    
    <div class="column is-6-desktop is-12-mobile">
      <a href="https://hub.pantrypoints.com/signup" title="Register" class="button is-success is-fullwidth">Sure!</a>
    </div>
    <div class="column is-6-desktop is-12-mobile">
      <a href="https://superphysics.org/social/economics/" title="Articles" class="button is-info is-fullwidth">I need to read more</a>
    </div>   
  </div>
</section>


{{ end }}