{{ define "main" }}

<style type="text/css">
  .hero {
    background: aliceblue url("/photos/construction.jpg") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .hero .herobutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }  
</style>


<section class="hero is-fullheight-with-navbar py-5">
  <div class="hero-body">
    <div class="container card" style="opacity: 0.9;">
      <h1 class="title is-1 has-text-danger m-5">
        Under Construction!
      </h1>
      <div class="columns is-mobile is-multiline">
        <div class="column is-12-touch is-8-desktop is-multiline">            
          <h2 class="subtitle is-4 has-text-dark m-4">
            Thanks for your interest. Please visit again after a few months when we have this app done. In the meantime, check out our other sites:
          </h2>
            <div class="buttons is-left m-5">      
              <a class="button is-primary" href="https://superphysics.org">
                Superphysics
              </a>     
              <a class="button is-primary" href="https://foodrescueph.site">
                Food Rescue
              </a>             
            </div>
          
        </div>
      </div>


    </div>
  </div>
</section>




{{ end }}