{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}

  <style type="text/css">
    .shake {
      background: #000 url("{{ .bannermain }}") center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .hero .herobutton {
  /*    position: absolute;
      top: 50%;
      left: 50%;*/
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }  
  </style>

  <section class="hero shake is-halfheight has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          {{ .title | markdownify }}
        </h1>
        <p class="subtitle is-4">
          {{ .content | markdownify }}
        </p>

        <div class="has-text-centered label">
          <figure class="is-inline-block embed-responsive embed-responsive-16by9">      
            <iframe width="100%" height="auto" class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .youtube }}" allowfullscreen></iframe>
          </figure>
        </div>

<!--         <div class="buttons has-addons is-centered">     -->
        <div class="buttons has-addons is-centered">              
          {{ range .mainbuttons }}        
            <a href="{{ .link | safeURL }}" title="{{ .label }}" class="button is-{{ .color }} m-2">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}


<!-- servers -->
{{ with .Params.servers }}
  <section class="section my-5">
    <div class="container has-text-centered my-5">
      <h2 class="title is-3">{{ .title | markdownify }}</h2>
      <p class="subtitle is-5">{{ .subtitle | markdownify }}</p>        
    </div>
    <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center my-5"> 
      {{ range .sitem }}
        <div class="column is-3-desktop is-12-mobile">
          <div class="card p-5 has-text-centered">
            <figure class="image is-128x128 is-inline-block">
              <img class="mb-3" src="{{ .flag }}" width="100px" alt="{{ .name }}">
              <br>
              <a href="{{ .link }}" class="button is-small {{ .btn }}">{{ .name }}</a>
            </figure>
          </div>
        </div>
      {{ end }}
  </section>
{{ end }}



<!-- feature -->
{{ with .Params.feature }}
  <style type="text/css">
    .crisis {
      background: #000 url("{{ .bannerfeat }}") center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  </style>

  <section class="section crisis my-5">
    <div class="container has-text-centered my-5">
      <div class="title is-3 has-text-white">
        <h2>{{ .title | markdownify }}</h2>
      </div>
      <div class="subtitle is-5 has-text-white">
        <p>{{ .subtitle | markdownify }}</h3></p>        
    </div>
    <div class="columns is-multiline is-mobile">    
      {{ range .feature_item }}
        <div class="column is-4-desktop is-12-mobile my-5">
          <div class="card has-text-centered card-equal-height p-4">
            <a href="{{ .link }}">
              <i class="zoom-xs mb-3">{{.icon | markdownify }}</i>
            </a>
            <h3 class="subtitle is-5 mt-4">{{ .name | title }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      {{ end }}
      <img src="{{ .image }}" class="is-rounded my-5" alt="{{ .imagetext }}">      
    </div>
  </section>
{{ end }}
<!-- /feature -->


  
<!-- service -->
{{ with .Params.how }}
  {{ partial "how.html" . }}
{{ end }}


{{ with .Params.centralimage }}
  {{ partial "image.html" . }}
{{ end }}




{{ with .Params.platform }}
  <section class="section my-5">
    <div class="container has-text-centered">
      <h2 class="title is-2">{{ .title | markdownify }}</h2>

      <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center"> 
        {{ range .pitem }}
          <div class="column is-4-desktop is-12-mobile my-2">
            <div class="card has-text-centered card-equal-height p-4">
              <div class="card-content">
                <a href="{{ .link }}">
                  <figure class="image is-128x128 is-inline-block">
                    <img class="is-rounded mb-3" src="{{ .image }}" width="100px" alt="{{ .name }}">
                  </figure>
                </a>
                <h3 class="subtitle is-4">{{ .name | title }}</h3>
                <p>{{ .content | markdownify }}</p>
              </div>
              <div class="card-footer card-footer-item"><small>{{ .footer | safeHTML }}</small></div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}


{{ with .Params.skill }}
  <section class="section my-5">
    <div class="container has-text-centered">
      <h2 class="title is-2">{{ .title | markdownify }}</h2>
  
      <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center"> 
        {{ range .sitem }}
          <div class="column is-4-desktop is-12-mobile my-5">
            <div class="card has-text-centered card-equal-height p-4">
              <div class="card-content">
                <a href="{{ .link }}">
                  <figure class="image is-128x128 is-inline-block">
                    <img class="is-rounded mb-3" src="{{ .image }}" width="100px" alt="{{ .name }}">
                  </figure>
                </a>
                <h3 class="subtitle is-4">{{ .name | title }}</h3>
                <p>{{ .content | markdownify }}</p>
              </div>
              <div class="card-footer card-footer-item"><small>{{ .footer | safeHTML }}</small></div>              
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}



{{ with .Params.services }}
  <section class="section my-5">
    <div class="container has-text-centered">
      <h2 class="title is-2">{{ .title | markdownify }}</h2>
  
      <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center"> 
        {{ range .svc }}
          <div class="column is-4-desktop is-12-mobile my-5">
            <div class="card has-text-centered card-equal-height p-4">
              <div class="card-content">
                <a href="{{ .link }}">
                  <figure class="image is-128x128 is-inline-block">
                    <img class="is-rounded mb-3" src="{{ .image }}" width="100px" alt="{{ .name }}">
                  </figure>
                </a>
                <h3 class="subtitle is-4">{{ .name | title }}</h3>
                <p>{{ .content | markdownify }}</p>
              </div>
              <div class="card-footer card-footer-item"><small>{{ .footer | safeHTML }}</small></div>              
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}


{{ with .Params.feedback }}
  {{ partial "feedback.html" . }}
{{ end }}



<!-- call to action -->
{{ with .Params.call_to_action }}
  {{ partial "cta.html" . }}
{{ end }}

<!-- /call to action -->

{{ end }}
