<style type="text/css">
  .feature {
    background: #000 url("{{ .bannerfeat }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<section class="section feature my-5">
  <div class="container has-text-centered my-5">
    <div class="card p-3" style="opacity: 0.9">
      <h2 class="title is-2">{{ .title | markdownify }}</h2>
      <p class="subtitle is-5">{{ .subtitle | markdownify }}</p> 
    </div>
    <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center mt-6">      
      {{ range .feature_item }}
        <div class="column is-3-desktop is-6-touch">      
          <div class="card card-equal-height has-text-centered p-4 my-2 ">
            <!-- <a href="{{ .link }}"> -->
              <i class="zoom-xs mb-3">{{.icon | markdownify }}</i>
            
            <h4 class="subtitle is-5 mt-4">{{ .name | title }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      {{ end }}
      <div class="column is-8-desktop is-12-mobile">
        <img src="{{ .image }}" class="is-rounded my-5">                
      </div>
    </div>
  </div>    
</section>