<section class="section my-5">
  <div class="container has-text-centered">
    <h2 class="title is-2">{{ .title | markdownify }}</h2>
    <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center">      
      {{ range $i,$p := .item }}
        <div class="column is-6-desktop is-12-mobile my-5">
          <div class="card has-text-centered card-equal-height p-4">
            <a href="{{ .link }}">
              <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded mb-3" src="{{ .image }}">
                <!-- style="display: block; vertical-align: middle !important" -->
              </figure>
            </a>
            <p class="subtitle is-4">{{ .name | title }}</p>
            <p class="pb-4">
              <svg  viewBox='0 0 512 512' fill='gray' class='icon mx-2'><path d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z'/></svg>
              {{ .content | markdownify }}
              <svg  viewBox='0 0 512 512' fill='gray' class='icon mx-2'><path d='M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z'/></svg>
            </p>
            <div class="card-footer"><cite class="card-footer-item"><small>{{ .user }}</small></cite></div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>