<style type="text/css">
  .feature {
    background: #000 url("{{ .bannerimage }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<section class="section feature my-5">
  <div class="container has-text-centered my-5">
    <div class="card p-3" style="opacity: 0.9">
      <h2 class="title is-2 py-2">{{ .title | markdownify }}</h2>
      <div class="subtitle is-5 pb-2">{{ .subtitle | markdownify }}</div>
    </div>
    <figure class="image is-inline-block">      
      <img src="{{ .image }}" class="my-5">                
    </figure>
  </div>    
</section>