{{ define "main" }}

<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered">{{ .Title | markdownify }}</h1>
    {{ with .Params.subtitle }}
      <h2 class="subtitle is-4 has-text-centered">{{ . | markdownify }}</h2>
    {{ end }}

    <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">

      <div class="field">
        <label>Your Name</label>
        <div class="control">
          <input type="text" id="name" name="email[name]" placeholder="{{ i18n `yourname` }}" class="input">
        </div>
      </div>

      <div class="field">
        <label>Your Email</label>
        <div class="control">
          <input type="text" id="email" name="email[email]" placeholder="{{ i18n `youremail` }}" class="input">
        </div>
      </div>

      <div class="field">
        <label>Your City</label>
        <div class="control">
          <input type="text" id="city" name="email[city]" placeholder="{{ i18n `yourcity` }}" class="input">
        </div>
      </div>

      <div class="field">
        <label>Your Message</label>
        <div class="control">
          <textarea class="textarea" type="text" id="content" name="email[content]" placeholder="{{ i18n `yourmessage` }}"></textarea>
          <input name="email[address]" id="source" type="hidden" value="{{ .Permalink }}">
        </div>
      </div>

  <!--           <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="{{ i18n `subject` }}"> -->
  <!--        <form action="https://isaiah4.gigalixirapp.com/api/subscribers" method="POST">
      <input type="text" class="form-control mb-3" id="name" name="subscriber[name]" placeholder="{{ i18n `yourname` }}">
      <input type="email" class="form-control mb-3" id="email" name="subscriber[email]" placeholder="{{ i18n `youremail` }}">
      <input type="city" class="form-control mb-3" id="city" name="subscriber[city]" placeholder="{{ i18n `yourcity` }}">          
       <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="{{ i18n `subject` }}"> 
      <textarea name="subscriber[comment]" id="comment" class="form-control mb-3" placeholder="{{ i18n `yourmessage` }}"></textarea> -->
      <button type="submit" value="send" class="button is-primary">{{ i18n `sendnow` }}</button>
    </form>    
  </div>
</section>


<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-3">{{ .Params.title2 | markdownify }}</h2>
    <h3 class="subtitle is-5">{{ .Params.subtitle2 | markdownify }}</h3>

    <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center"> 
      {{ range .Params.item }}
        <div class="column is-2-desktop is-3-mobile my-5">
          <figure class="image is-128x128 is-inline-block">
            <a href="{{ .link }}">
              <img class="mb-3" style="position: relative; vertical-align: middle" src="{{ .image }}" width="100px" alt="{{ .image }}">
            </a>
          </figure>
        </div>
      {{ end }}
    </div>
  </div>
</section>



<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-3">{{ .Params.title3 | markdownify }}</h2>
    <h3 class="subtitle is-5">{{ .Params.subtitle3 | markdownify }}</h3>

    <div class="columns is-multiline is-mobile is-flex-wrap-wrap is-justify-content-center"> 
      {{ range .Params.support }}
        <div class="column is-2-desktop is-3-mobile my-5">
          <figure class="image is-128x128 is-inline-block">
            <a href="{{ .link }}">
              <img class="mb-3" style="position: relative; vertical-align: middle" src="{{ .image }}" width="100px" alt="{{ .image }}">
            </a>
          </figure>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- <section class="container m-5">



  <div class="columns is-mobile is-multiline">
    <div class="column is-7-desktop is-12-mobile">

    </div>
    
    <div class="column is-5-desktop is-12-mobile">
      {{ .Content }}
    </div>
  </div>
</section> -->

{{ end }}
